/* Tema noche web soporte */
/* Soporte web soporte */
.theme-night .ctn-support {
	background-color: #000009;
}

/* Contenedor caja de información soporte web soporte */
.theme-night .ctn-support .ctn-box-support {
	background-color: #111119;
}

/* Icono sección de soporte web soporte */
.theme-night .ctn-support .ctn-box-support .icon-support {
	background-color: #000009;
}

/* Contenedor de iconos de la navegación por tabs web soporte */
.theme-night .navegation-tabs .ctn-tabs-links .ctn-icons-tabs {
	background-color: #111115;
}

/* Efecto hover en el contenedor de los iconos navegación por tabs web soporte */
.theme-night .navegation-tabs .ctn-tabs-links .ctn-icons-tabs:hover,
.theme-night .navegation-tabs .ctn-tabs-links .ctn-icons-tabs:focus,
.theme-night .navegation-tabs .ctn-tabs-links .ctn-icons-tabs:active {
	background-color: #000009;
}

/* Contenedor de iconos cuando esta activo navegación por tabs web soporte */
.theme-night .navegation-tabs .ctn-tabs-links .ctn-icons-tabs.active {
	background-color: #000009;
}

/* Contenedor de cada contenido navegación por tabs web soporte */
.theme-night .navegation-tabs .ctn-tabs-contents-item {
	background-color: #000009;
}